.mrtruman_push_div{
	height: 0;
	overflow:hidden;
	display:flex;
	flex-direction:column;
}
.mrtruman_push_div.active{
	height: 400px;
	 position: fixed;
    top: 50%;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow-y: scroll;
    background: #c2c2c2;
	padding: 10px 20px;
}
.mrtruman_push_div.active a{
	padding: 5px;
	cursor:pointer;
}
.mrtruman_push_div.active a:HOVER{
	 background: #fff;
}
.mrtruman_btn{
	position: fixed;
    z-index: 9999;
    background: #c02;
    height: 10px;
    width: 10px;
	display:block;
	cursor:pointer;
}